.body{
    margin-top: 21px
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #a8e747;
}
@media (min-width: 768px){
    .navbar-nav{
        margin-left: 25%;
    }
    .navbar-right{
        margin-right: 10%;
    }
    .content-end{
        font-size: 12px;
        color: #999;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        padding: 20px 0;

    }
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.header{
    height: 50px;
}
.con-left{
    border:1px solid #fff;
    width: 16.66666667%;
    height: auto;
    margin-top: 5%;
    margin-left: auto;
}
.con-body{
    border:1px solid #000;
    width: 58.33333333%;
    height: auto;
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 5%;
    display: block;
}
.con-right{
    border:1px solid #1b6d85;
    width: 20%;
    margin-top: 5%;
    margin-left: 2%;
    height: auto;
    display: block;
}
.block {
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.05);
    border: 1px solid #e6e8eb;
    position: relative;
}
.tech-square-title {
    color: #212121;
    position: relative;
    display: inline-block;
    padding-left: 10px;
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}
.tech-square-item {
    height: 45px;
    display: flex;
    align-items: center;
    color: #757575;
    text-decoration: none;
    margin-bottom: 1px;
    border-radius: 4px;
    padding-left: 10px;
}
.a-button{
    display: flex;
    flex-wrap: wrap;
    margin: 20px -20px 0 0;
}
.a-button a{
    width: 64px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    border-radius: 2px;
    font-size: .75rem;
    background: #e1e5e8;
    text-align: center;
    margin: 0 12px 20px 0;
    overflow: hidden;
    color: #333;
    text-decoration: none
}
.post-item{
    border-bottom: 1px dashed #f2f2f2;
}
.post-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.post-item .post-body .post-title {
    color: #2f4056;
    font-weight: 600;
    margin-bottom: 8px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.body .post-info span {
    font-size: .875rem;
    margin-bottom: 8px;
    margin-right: 8px;
}
.post-info {
    margin-bottom: 10px;
}
.post-body p {
    font-size: .85rem;
    color: #333;
    line-height: 23px;
    height: 69px;
    max-width: 745px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.post-item .post-body .post-right {
    min-width: 120px;
    height: 95px;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    margin-left: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.post-like .post-span{
    margin-left: 25px;
}