<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/commons_header :: common_header(${title})}">
<body>

<!--头部-->
<div th:replace="~{common/commons::top}"></div>

<div class="container con">

<!--分页文章-->
    <div class="container  con-body pull-left block" th:fragment="article_page" >
        <ul class="list-unstyled"  th:each="item,sta:${article}">
            <li class="post-item">
                <div class="post-body">
                    <div class="post-left">
                        <a th:href="@{'/article/'+${item.id}}"  >
                            <h3 class="post-title" th:text="${item.title}"> </h3>
                        </a>
                        <div class="post-info">
                            <span th:text="${item.created_at}"></span>
                        </div>
                        <a th:href="@{'/article/'+${item.id}}"  >
                            <p class="post-text" th:text="${item.con}">
                        </a>
                        <div class="post-like ">
                            <span class="post-span">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-emoji-sunglasses" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                      <path fill-rule="evenodd" d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM6.5 6.497V6.5h-1c0-.568.447-.947.862-1.154C6.807 5.123 7.387 5 8 5s1.193.123 1.638.346c.415.207.862.586.862 1.154h-1v-.003l-.003-.01a.213.213 0 0 0-.036-.053.86.86 0 0 0-.27-.194C8.91 6.1 8.49 6 8 6c-.491 0-.912.1-1.19.24a.86.86 0 0 0-.271.194.213.213 0 0 0-.036.054l-.003.01z"/>
                                      <path d="M2.31 5.243A1 1 0 0 1 3.28 4H6a1 1 0 0 1 1 1v1a2 2 0 0 1-2 2h-.438a2 2 0 0 1-1.94-1.515L2.31 5.243zM9 5a1 1 0 0 1 1-1h2.72a1 1 0 0 1 .97 1.243l-.311 1.242A2 2 0 0 1 11.439 8H11a2 2 0 0 1-2-2V5z"/>
                                </svg>
                                <b th:text="${item.show_num}"></b>
                            </span>

                        </div>
                    </div>
                    <div class="post-right">
                        <a th:href="@{'/article/'+${item.id}}"  >
                            <!--右侧图片-->

                        </a>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="pagination pagination-sm" th:if="${article.total != 0}">
            <li><a href="/articleHot">&laquo;</a></li>
            <li th:class="${article.pageNum == i}?'active':''" th:each="i:${#numbers.sequence(1, article.pages)}">
                <a th:href="@{'/articleHot/' + ${i}}" th:text="${i}"></a>
            </li>
            <li><a th:href="@{'/articleHot/' + ${article.pages}}">&raquo;</a></li>
        </ul>
    </div>


<!--右侧-->
    <div th:replace="~{common/commons::article_label}"></div>

</div>

<!--底部-->
<div th:replace="~{common/commons::footer}"></div>




</body>
<style>
    /*$(window).height()*/
</style>
</html>