<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/commons_header :: common_header(${title})}">
<body>

<!--头部-->
<div th:replace="~{common/commons::top}"></div>

<div class="container con">

<!--分页文章-->
    <div th:replace="~{common/commons::article_not_page}"></div>

<!--右侧-->
    <div th:replace="~{common/commons::article_label}"></div>

</div>

<!--底部-->
<div th:replace="~{common/commons::footer}"></div>




</body>
<style>
    /*$(window).height()*/
</style>
</html>