<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--head头部件-->
<head th:replace="~{common/commons_header :: common_header(${title})}">
<body>

<div class="cherry">
    <img id="yinghua" src="/image/yinghua.png" alt="" >
</div>

<!--头部-->
<div th:replace="~{common/commons::top}"></div>

<div class="container con">

<!--左边-->
    <div th:replace="~{common/commons::article_type}"></div>

<!--不分页文章-->
    <div th:replace="~{common/commons::article_not_page}"></div>


<!--右边-->
    <div th:replace="~{common/commons::article_label}"></div>

</div>


<!--底部-->
<div th:replace="~{common/commons::footer}"></div>

</body>
<style>

</style>
</html>